[recipe]
nickname = module_coreupgrade
produced_item = module_coreupgrade
infotext = Core Upgrade
build_type = Basic
recipe_number = 1
module_class = 1
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 10000
consumed = commodity_industrial, 25000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_basic_alloys, 10000
consumed = commodity_super_alloys, 10000
consumed = commodity_titanium, 10000
consumed = commodity_construction_machinery, 10000
consumed = commodity_oxygen, 10000
consumed = commodity_water, 10000
consumed = commodity_nanocapacitors, 5000
consumed = commodity_optronics, 5000
credit_cost = 2500000

[recipe]
nickname = module_coreupgrade_adv
produced_item = module_coreupgrade
infotext = Core Upgrade
recipe_number = 1
module_class = 1
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 10000
consumed = commodity_industrial, 25000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_basic_alloys, 10000
consumed = commodity_super_alloys, 10000
consumed = commodity_titanium, 10000
consumed = commodity_construction_machinery, 10000
consumed = commodity_oxygen, 10000
consumed = commodity_water, 10000
consumed = commodity_nanocapacitors, 5000
consumed = commodity_optronics, 5000
consumed = commodity_base_prints, 1
credit_cost = 2500000

[recipe]
nickname = module_storage
produced_item = module_storage
infotext = Bulk Storage Module
build_type = Basic
recipe_number = 2
module_class = 3
cooking_rate = 60
reqlevel = 0
consumed = commodity_ship_hull_panels, 10000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 5000

[recipe]
nickname = module_defense_3
produced_item = module_defense_3
infotext = Defense Module - Anti-Light Craft
build_type = Defense
recipe_number = 1
module_class = 10
cooking_rate = 60
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_munitions, 5000
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 2500

[recipe]
nickname = module_defense_1
produced_item = module_defense
infotext = Defense Module - Anti-Light Capital
build_type = Defense
recipe_number = 2
module_class = 4
cooking_rate = 60
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_munitions, 5000
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 2500

[recipe]
nickname = module_defense_2
produced_item = module_defense_2
infotext = Defense Module - Anti-Heavy Capital
build_type = Defense
recipe_number = 3
module_class = 9
cooking_rate = 60
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_munitions, 5000
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 2500

[recipe]
nickname = module_m_docking
produced_item = module_m_docking
infotext = Docking Module Factory
craft_list = DockModule
build_type = Factory
recipe_number = 1
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 5000
cargo_storage = 10000

[recipe]
nickname = module_m_jumpdrives
produced_item = module_m_jumpdrives
infotext = Hyperspace Technology Factory
craft_list = JumpDrive
craft_list = Survey
build_type = Factory
recipe_number = 2
module_class = 2
cooking_rate = 50
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_superconductors, 10000
consumed = commodity_super_alloys, 10000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 5000
consumed = commodity_xeno_relics, 2500
cargo_storage = 10000

;Deprecated
[recipe]
nickname = module_m_hyperspace_scanner
produced_item = module_m_hyperspace_scanner
infotext = Hyperspace Technology Factory
craft_list = JumpDrive
craft_list = Survey
build_type = Factory
;recipe_number = 3
module_class = 2
cooking_rate = 50
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_superconductors, 10000
consumed = commodity_super_alloys, 10000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 5000
consumed = commodity_xeno_relics, 2500
cargo_storage = 10000

[recipe]
nickname = module_m_cloak
produced_item = module_m_cloak
infotext = Stealth Technology Factory
craft_list = Cloak
craft_list = CloakDisr
build_type = Factory
recipe_number = 3
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 10000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 10000
consumed = commodity_xeno_relics, 2500
cargo_storage = 10000

;Deprecated
[recipe]
nickname = module_m_cloakdisruptor
produced_item = module_m_cloakdisruptor
infotext = Stealth Technology Factory
craft_list = Cloak
craft_list = CloakDisr
build_type = Factory
;recipe_number = 5
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 10000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_optronics, 10000
consumed = commodity_xeno_relics, 2500
cargo_storage = 10000

;Exotic Weapons & Equipment Factories
[recipe]
nickname = module_weapon_components_factory
infotext = Exotic Weapons Components Foundry
craft_list = WeaponComponents
build_type = Factory
recipe_number = 4
module_class = 2
cooking_rate = 50
reqlevel = 3
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_superconductors, 10000
consumed = commodity_super_alloys, 10000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 7500
consumed_dynamic_alt = 7500, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_nanocapacitors, 5000
consumed = commodity_xeno_relics, 2500
consumed = commodity_prototype_components, 2000
consumed = commodity_chiromaterials, 300
consumed = commodity_organic_capacitors, 1500
consumed = commodity_cryo_organisms, 1500
consumed = commodity_reflective_lattices, 150
cargo_storage = 10000

[recipe]
nickname = module_exotic_weapon_factory
infotext = Capital Craft Equipment Fabricator
craft_list = CruiserCodes1
craft_list = BattlecruiserCodes1
craft_list = BattleshipCodes1
craft_list = BattleshipCodes2
build_type = Factory
recipe_number = 5
module_class = 2
cooking_rate = 50
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 2500
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_xeno_relics, 1000
consumed = commodity_platinum, 5000
consumed = commodity_silver, 5000
consumed = commodity_reflective_lattices, 200
consumed = commodity_organic_capacitors, 1000
cargo_storage = 10000

[recipe]
nickname = module_exotic_factory
infotext = Small Craft Equipment Fabricator
craft_list = FighterShields1
craft_list = FighterThrusters1
craft_list = BomberCodesCommon
craft_list = FighterCodesCommon1
craft_list = FighterCodesCommon2
craft_list = FighterCodesCommon3
craft_list = FighterCodesCommon4
craft_list = FighterCodesCommon5
craft_list = FighterCodes1
craft_list = FighterCodes2
craft_list = FighterCodes3
craft_list = GunboatCodes1
build_type = Factory
recipe_number = 6
module_class = 2
cooking_rate = 50
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 2500
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_energy_field_equip, 2500
consumed = commodity_xeno_relics, 2500
consumed = commodity_copper, 5000
consumed_dynamic_alt = 5000, commodity_gold, commodity_pirate_gold
consumed = commodity_reflective_lattices, 200
consumed = commodity_organic_capacitors, 1000
cargo_storage = 10000

[recipe]
nickname = module_osmium_equipment_factory
infotext = Osmium Equipment Fabricator
craft_list = OsmiumFighter1
craft_list = OsmiumCruiser1
craft_list = OsmiumBC1
craft_list = OsmiumThrusters1
build_type = Factory
recipe_number = 7
module_class = 2
cooking_rate = 50
reqlevel = 3
restricted = true
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_superconductors, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_super_alloys, 10000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 7500, commodity_optronics, commodity_multiplexors
consumed = commodity_nanocapacitors, 5000
consumed = commodity_xeno_relics, 2500
consumed = commodity_prototype_components, 2000
consumed = commodity_osmiridium_panels, 4500
consumed = commodity_osmiridium_cylinders, 3000
consumed = commodity_osmian_platinum_foil, 4500
consumed = commodity_osplat_crystals, 3000
consumed = commodity_rydberg_matter, 50
cargo_storage = 10000
;Bretonia
affiliation_bonus = br_n_grp, 1.0 ;Bretonia Armed Forces
affiliation_bonus = br_p_grp, 1.0 ;Bretonia Police
affiliation_bonus = fc_ouk_grp, 1.0 ;Bretonia Intelligence Service
affiliation_bonus = co_be_grp, 1.0 ;Border World Exports
affiliation_bonus = co_nws_grp, 1.0 ;Gateway Shipping
affiliation_bonus = br_m_grp, 1.0 ;BMM
affiliation_bonus = fc_g_grp, 1.0 ;Gaians
affiliation_bonus = fc_m_grp, 1.0 ;Mollys
;Rheinland
affiliation_bonus = rh_n_grp, 1.0 ;Rheinland Military
affiliation_bonus = rh_p_grp, 1.0 ;Rheinland Federal Police
affiliation_bonus = rh_mnd_grp, 1.0 ;MND
affiliation_bonus = co_alg_grp, 1.0 ;ALG Waste Disposal
affiliation_bonus = co_khc_grp, 1.0 ;Daumann Heavy Construction
affiliation_bonus = rh_m_grp, 1.0 ;Kruger Minerals
affiliation_bonus = co_rs_grp, 1.0 ;Imperial Shipping
affiliation_bonus = fc_b_grp, 1.0 ;Bundschuh
affiliation_bonus = fc_lwb_grp, 1.0 ;LWB
affiliation_bonus = fc_rh_grp, 1.0 ;Red Hessians
affiliation_bonus = fc_u_grp, 1.0 ;Unioners
;Omegas/Omicrons
affiliation_bonus = fc_c_grp, 1.0 ;Corsairs
affiliation_bonus = fc_core, 1.0 ;The Core
affiliation_bonus = fc_or_grp, 1.0 ;The Order
affiliation_bonus = fc_kn_grp, 1.0 ;Sirius Coalition
affiliation_bonus = fc_wild, 1.0 ;Wild
;Pan-region
affiliation_bonus = gd_im_grp, 1.0 ;Independent Miners Guild
affiliation_bonus = fc_militant, 1.0 ;Militants
affiliation_bonus = gd_z_grp, 1.0 ;Zoners

;Shipyard Assembly and Component Manufacturing
[recipe]
nickname = module_modular_shipyard
infotext = Modular Shipyard
craft_list = ShipyardComponent
craft_list = ShipyardAssemblyCivilian
craft_list = ShipyardAssemblyFactions1
build_type = Factory
recipe_number = 8
module_class = 2
cooking_rate = 50
reqlevel = 3
consumed = commodity_ship_hull_panels, 7200
consumed = commodity_industrial, 10000
consumed = commodity_energy_field_equip, 10000
consumed = commodity_robotic_hardware, 10000
consumed = commodity_construction_machinery, 10000
consumed = commodity_optronics, 10000
consumed_dynamic_alt = 10000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_nanocapacitors, 7800
consumed_dynamic_alt = 5200, commodity_gold, commodity_pirate_gold
consumed_dynamic_alt = 5200, commodity_diamonds, commodity_bluediamonds
consumed = commodity_prototype_components, 3000
cargo_storage = 10000

;Refineries
[recipe]
nickname = module_ore_refinery
infotext = Industrial Refinery
build_type = Refinery
recipe_number = 1
craft_list = AluminiumRefining
craft_list = CopperRefining
craft_list = DiamondRefining
craft_list = GoldRefining
craft_list = MolybdenumRefining
craft_list = NiobiumRefining
craft_list = PlatinumRefining
craft_list = SilverRefining
craft_list = IridiumRefining
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 2500

[recipe]
nickname = module_h-fuel_refinery
infotext = H-Fuel Plant
build_type = Refinery
recipe_number = 2
craft_list = H-FuelProduction
craft_list = HeavyWaterRefining
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 2500
cargo_storage = 10000

[recipe]
nickname = module_mox_refinery
infotext = MOX Plant
build_type = Refinery
recipe_number = 3
craft_list = MoxProduction
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 2500
cargo_storage = 10000

[recipe]
nickname = module_promethene_refinery
infotext = Promethene Plant
build_type = Refinery
recipe_number = 4
craft_list = PrometheneProduction
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_catalysts, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 2500
cargo_storage = 10000
restricted = true
affiliation_bonus = ga_efl_grp, 1.0 ;EFL Oil and Machinery

[recipe]
nickname = module_scrap_refinery
infotext = Scrap Smelter
build_type = Refinery
recipe_number = 5
craft_list = ScrapRefining
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
cargo_storage = 10000

[recipe]
nickname = module_exotic_refinery
infotext = Exotic Materials Laboratory
build_type = Refinery
recipe_number = 6
craft_list = OsmiumProcessing
craft_list = ExoticRefining
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 10000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 5000, commodity_multiplexors, commodity_bioprocessors
consumed = commodity_energy_field_equip, 2500
consumed = commodity_optronics, 2500
cargo_storage = 10000

[recipe]
nickname = module_hydroponics
infotext = Hydroponics Bay
build_type = Utility
recipe_number = 1
craft_list = Hydroponics
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 5000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_fertilizers, 5000
cargo_storage = 10000

[recipe]
nickname = module_legit_warehouse
infotext = Legitimate Warehouse
build_type = Utility
recipe_number = 2
craft_list = Smuggling
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 10000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 5000
cargo_storage = 10000

[recipe]
nickname = module_prison
infotext = Inmate Processing Center
build_type = Utility
recipe_number = 3
craft_list = Captives
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 10000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed_dynamic_alt = 5000, commodity_lightarms, commodity_sidearms, commodity_g_guns
cargo_storage = 10000

[recipe]
nickname = module_mundane_factory
infotext = Goods Production Factory
build_type = Utility
recipe_number = 4
craft_list = FactoryGoods
module_class = 2
cooking_rate = 30
reqlevel = 0
consumed = commodity_ship_hull_panels, 10000
consumed = commodity_industrial, 5000
consumed = commodity_robotic_hardware, 5000
consumed = commodity_construction_machinery, 5000
consumed = commodity_optronics, 5000
cargo_storage = 10000

;Faction Perk Modules - Weapon Components
[recipe]
nickname = module_weapon_components_factory_phoenix
infotext = Phoenix Exotic Weapons Components Foundry
craft_list = WeaponComponentRheinland
craft_list = WeaponComponentOmicrons
module_class = 2
cooking_rate = 50
reqlevel = 3
cargo_storage = 10000
restricted = true

;Faction Perk Modules - Hydroponics
[recipe]
nickname = module_hydroponics_mfe
infotext = MFE Hydroponics Bay
craft_list = HydroponicsFood
craft_list = HydroponicsSynthPaste
module_class = 2
cooking_rate = 30
reqlevel = 0
cargo_storage = 10000
restricted = true

;Faction Perk Modules - Docking Modules
[recipe]
nickname = module_m_docking_gn
infotext = GN Docking Module Factory
craft_list = DockModulePerk
module_class = 2
cooking_rate = 30
reqlevel = 0
cargo_storage = 10000
restricted = true
